@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #ffffff;
    color: #333;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  body.dark-theme {
    background-color: #1a1a1a;
    color: #f0f0f0;
  }

.titleGradientRed {
    background: -webkit-linear-gradient(#FF3B3B, #FF8C42 ,#FFD700);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradientFlame {
    background: -webkit-linear-gradient(
        45deg, 
        #FF4500,
        #FF6347,
        #FFA500,
        #FFD700,
        #FFFFFF 
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.titleGradientPurple {
    background: -webkit-linear-gradient(#8A2BE2, #DA70D6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-div:hover .explore-icon {
    animation: spin 2s linear infinite;
}

.collection-btn:hover {
    background-color: white;
}

.collection-btn:hover > p {
    color: #758bfd
} 

.collection-btn:hover > div {
    background-color: #758bfd
} 

.categories-background-border {
    height: 100%;
    width: 100%;
    border-radius: 32px;
    transition: all 0.3s ease-in-out;
}

.categories-background-border:hover {
    border: 6px solid white;
    transform: scale(0.95);
}

.categories-background-border i{
    rotate: 180deg;
    transform: scale(0.95);
    animation: rotate-180-270 0.25s forwards;
}

.categories-background-border:hover i{
    rotate: 180deg;
    transform: scale(0.95);
    animation: rotate-270-180 0.25s forwards;
}

/* .login-background {
    background-image: url("../public/LoginFormBackground.avif");
    object-fit: cover;
} */

/* --- INTRO ANIMATION --- */

.left-intro-div {
    gap: 10px;
    position: relative;
    animation: swift-in-left 7s forwards;
}

.right-intro-div {
    gap: 10px;
    position: relative;
    animation: swift-in-right 7s forwards;
}

.right {
    animation: picture-posture-right 10s forwards ;
}
.left {
    animation: picture-posture-left 10s forwards ;
}

.right.one{
    margin-right: 30px;
}
.right.two{
    margin-top: 40px;
    margin-right: 30px;
}
.right.three{
    margin-top: 80px;
    margin-right: 30px;
}   
.right.four{
    margin-top: 120px;
    margin-right: 30px;
}

.left.one{
    margin-left: 30px;
}

.left.two{
    margin-top: 40px;
    margin-left: 30px;
}

.left.three{
    margin-top: 80px;
    margin-left: 30px;
}  

.left.four{
    margin-top: 120px;
    margin-left: 30px;
}

.management-nav-button {
    filter: brightness(1);
    transition: background-color 0.3s ease, filter 0.3s ease, box-shadow 0.3s ease-in-out;
}

.management-nav-button:hover {
    background-color: white; 
    box-shadow: 0px 0px 5px black;
    filter: brightness(1.2); 
}
/* LightMode */
.sun-div {
    animation:  light-slide-right 0.75s ease-in-out forwards;
}

.sun-icon {
    animation: sun-spin  1s  forwards;
}

.sun-circle {
    animation:  light-slide-left 1s ease-in-out forwards;
}
/* DarkMode */
.moon-div{
    animation:  dark-slide-right 0.75s ease-in-out forwards;
}

.moon-icon {
    animation: moon-rotation 0.5s  forwards;
}

.moon-circle {
    animation:  dark-slide-left 1s ease-in-out forwards;
}

.art-gallery-animation {

}
.art-gallery-animation:hover {
    animation: art-gallery-animation 0.75s ease-in-out forwards;
}

.loading-icon {
    animation: spinning-animation 1.5s linear infinite;
}

.accManegementBar {
    padding: 1px 2px;
    cursor: pointer;
}
.accManegementBar:hover {
    background-color: rgb(200, 200, 200);
}

@keyframes spinning-animation {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}


@keyframes rotate-270-180 {
    0% {
        transform: rotate(270deg);
    } 100% {
        transform: rotate(180deg);
    }
}

@keyframes rotate-180-270 {
    0% {
        transform: rotate(180deg);
    } 100% {
        transform: rotate(270deg);
    }
}


@keyframes art-gallery-animation {
    0% {
        transform: translatey(0px);
    } 100% {
        transform: translatey(-15px);
    }
}


@keyframes  light-slide-right {
    0% {
        transform: translateX(50px); 
    } 100% {
        transform: translateX(0px); 
    }
}

@keyframes  light-slide-left {
    0% {
        transform: translateX(-50px);
    }
    70% {
        transform: translateX(3px); 
    }
    90% {
        transform: translateX(-2px); 
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes sun-spin {
    from{
        transform: rotate(0deg)
    } to {
        transform: rotate(-360deg)
    }
}


@keyframes  dark-slide-right {
    0% {
        transform: translateX(0);
    } 100% {
        transform: translateX(50px); 
    }
}

@keyframes moon-rotation {
    from{
        transform: rotate(20deg)
    } to {
        transform: rotate(-30deg)
        translateY(2px)
    }
}

@keyframes dark-slide-left {
    0% {
        transform: translateX(0);
      }
      70% {
        transform: translateX(-53px);
      }
      90% {
        transform: translateX(-48px);
      }
      100% {
        transform: translateX(-50px);
      }
}

@keyframes swift-in-right {
 0% {
    top:  100%;
    left: 100%;
 } 100% {
    top:  15%;
    left: -10px;
    transform: rotateX(30deg) rotateY(40deg);
 }  
} 

@keyframes picture-posture-right {
    0% {
        transform: rotateX(30deg) rotateY(60deg);
    } 100% {
        transform: rotateX(0deg) rotateY(-10deg);
    }  
} 

@keyframes swift-in-left {
    0% {
       top:  100%;
       right: 100%;   
    } 100% {
       top:  15%;
       right: -10px;;
       transform: rotateX(-30deg) rotateY(220deg);
    }  
   } 
   
   @keyframes picture-posture-left {
       0% {
        transform: rotateX(30deg) rotateY(60deg);
       } 100% {
        transform: rotateX(0deg) rotateY(10deg);
       }  
   } 


@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(40deg);
    } 
    100% {
        transform: rotate(0deg);
    }
}