@tailwind base;
@tailwind components;
@tailwind utilities;

.titleGradientRed {
    background: -webkit-linear-gradient(#FF3B3B, #FF8C42 ,#FFD700);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.titleGradientPurple {
    background: -webkit-linear-gradient(#8A2BE2, #DA70D6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-div:hover .explore-icon {
    animation: spin 2s linear infinite;
}

.left-intro-div {

}

.right-intro-div {
    gap: 120px;
    position: relative;
    top:  100%;
    left: 100%;
    animation: swift-in-right 10s infinite;
}

.right {
    animation: swift-in-right 20s infinite;
}

@keyframes swift-in-right {
 0% {
    top:  100%;
    left: 100%;
    transform: rotateX(30deg) rotateY(60deg);
 } 50% {
    
 } 100% {
    top:  5%;
    left: 1%;
    transform: rotateX(0deg) rotateY(45deg);
 }  
} 

@keyframes swift-in-right {
    0% {
       transform: rotateX(30deg) rotateY(60deg);
    } 50% {
       
    } 100% {
       transform: rotateX(0deg) rotateY(0deg);
    }  
   } 

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(40deg);
    } 
    100% {
        transform: rotate(0deg);
    }
}