@tailwind base;
@tailwind components;
@tailwind utilities;

.titleGradientRed {
    background: -webkit-linear-gradient(#FF3B3B, #FF8C42 ,#FFD700);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.titleGradientPurple {
    background: -webkit-linear-gradient(#8A2BE2, #DA70D6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-div:hover .explore-icon {
    animation: spin 2s linear infinite;
}

.collection-btn:hover {
    background-color: white;
}

.collection-btn:hover > p {
    color: #758bfd
} 

.collection-btn:hover > div {
    background-color: #758bfd
} 

.categories-background-border {
    height: 100%;
    width: 100%;
    border-radius: 32px;
    transition: all 0.3s ease-in-out;
}

.categories-background-border:hover {
    border: 8px solid white;
    transform: scale(0.95);
}


/* --- INTRO ANIMATION --- */

.right-intro-div {
    gap: 10px;
    position: relative;
    animation: swift-in-right 7s forwards;
}

.left-intro-div {
    gap: 10px;
    position: relative;
    animation: swift-in-left 7s forwards;
}

.right {
    animation: picture-posture-right 10s forwards ;
}
.left {
    animation: picture-posture-left 10s forwards ;
}

.right.one{
    margin-right: 30px;
}
.right.two{
    margin-top: 40px;
    margin-right: 30px;
}
.right.three{
    margin-top: 80px;
    margin-right: 30px;
}   
.right.four{
    margin-top: 120px;
    margin-right: 30px;
}

.left.one{
    margin-left: 30px;
}

.left.two{
    margin-top: 40px;
    margin-left: 30px;
}

.left.three{
    margin-top: 80px;
    margin-left: 30px;
}  

.left.four{
    margin-top: 120px;
    margin-left: 30px;
}


@keyframes swift-in-right {
 0% {
    top:  100%;
    left: 100%;
 } 100% {
    top:  15%;
    left: -10px;
    transform: rotateX(30deg) rotateY(40deg);
 }  
} 

@keyframes picture-posture-right {
    0% {
        transform: rotateX(30deg) rotateY(60deg);
    } 100% {
        transform: rotateX(0deg) rotateY(-10deg);
    }  
} 

@keyframes swift-in-left {
    0% {
       top:  100%;
       right: 100%;   
    } 100% {
       top:  15%;
       right: -10px;;
       transform: rotateX(-30deg) rotateY(220deg);
    }  
   } 
   
   @keyframes picture-posture-left {
       0% {
        transform: rotateX(30deg) rotateY(60deg);
       } 100% {
        transform: rotateX(0deg) rotateY(10deg);
       }  
   } 


@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(40deg);
    } 
    100% {
        transform: rotate(0deg);
    }
}